#header {
    margin: auto;
    margin-top: 20px;
}
  
#logo {
    width: 120px;
}

#options {
    max-width: 400px;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    background-color: dimgray;
}

#options button {
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    height: 80px;
    margin-bottom: 20px;
}

#options button:hover {
    border-radius: 5px;
    width: 100%;
    font-size: 22px;
    background-color: darkgrey;
    color: white;
    height: 80px;
    margin-bottom: 20px;
}